body{
    margin: 0;
    padding: 0;
}

.body__container{
    background: gray;
    height: 800px;
}
/* FLOAT */
.float--left{
    float: left;
}

.float--right{
    float: right;
}

.clearfix::after{
    content:"";
    clear: both;
}


/* HEADER */

header{
    height: 78px;
    background: red;
}

header .inner{
    width: 980px;
    height: 100%;
    background: blue;
    margin: 0 auto;
}

header .left-menu{
    width: 350px;
    height: 100%;
    background: green;
}

header .right-menu{
    width: 450px;
    height: 100%;
    background: yellow;
}

/* SECTION */
section{
    background: white;
}

section .inner{
    width: 980px;
    margin: 0 auto;
    background: red;
    padding: 160px 0;
    display: flex;
}

section .text{
    background: orange;
    flex-grow:1;    
    flex-basis: 0;
    margin-right: 90px;
}

section .text .title{
    width: 100%;
    height: 150px;
    background: green;
}
section .text .description{
    width: 100%;
    height: 150px;
}
section .input{
    background: yellow;
    width: 340px;
}

