.body__container{
    color: #2e363e;
    background: #abc1d1;;
    font-size: 16px;
    height: 500vh;
    font-family: "Open Sans", sans-serif;
}

.section--header{
    display: flex;
    justify-content: space-between;
    padding: 5px 3px;
}
.section--header div{
    width: 33%;
}
.section--header .left-menu span{
    margin-right: 5px;
}

.section--header .center-menu{
    display: flex;
    justify-content: center;
}

.section--header .right-menu{
    display: flex;
    justify-content: flex-end;
}

.section--header .right-menu i{
    margin-left: 5px;
}

.screen{
    padding: 0 25px;
}

.screen .screen-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.screen .first-icon{
    width: 33%;
}

.screen .first-icon a{
    color:#2e363e
}

.screen .center{
    width: 34%;
    font-size: 28px;
    font-weight: 600;
    text-align: center;
}

.screen .last-icon{
    width: 33%;
    display: flex;
    justify-content: flex-end;
}

.screen .last-icon i:first-child{
    margin-right: 20px;
}

.screen .screen-date{
    margin-top: 85px;
    color: white;
    display: flex;
    width: 100%;
    justify-content: center;
}

.screen .screen-date span{
    background-color: #92a4b2;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 25px;
    margin-bottom: 25px;
}

.chat{
    margin-bottom: 25px;
    display: flex;
    align-items: flex-end;
}

.screen .image{
    background:url("../../../kokoa-clone/제니2.jpg");
    background-size: cover;
    background-position:center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.screen .name{
    opacity: 0.8;
    font-size: 14px;
    margin-bottom: 5px;
}

.screen .text{
    font-size: 18px;
    padding: 13px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    background: white;
}

.screen .time{
    margin: 0 10px;
    font-size: 14px;
    opacity: 0.8;
}

.screen .my-chats{
    display: block;
}

.screen .my-chat{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: flex-end;
    margin-bottom: 10px;
}

.screen .my-text{
    background: #FAE100;
    border-radius: 15px;
    border-top-right-radius: 0px;
}

.section--footer{
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:white;
    padding: 5px 25px;
    box-sizing: border-box;
}

.section--footer span{
    margin-right: 20px;
}

#chat-form{
    display: flex;
    align-items: center;
    width: 100%;
}
.section--footer .input{
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 14px;
    border-radius: 25px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    outline: none;
}

.section--footer .first-icon-form{
    position: absolute;
    right: 80px;
    opacity: 0.5;
}

#chat-form button {
    position: absolute;
    right: 35px;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FAE100;
    outline: none;
}