.clearfix::after{
    content: "";
    clear: both;
}
.float--left{float: left;}
.float--right{float:right;}

body{
    color: #2e363e;
    font-family: "Open Sans", sans-serif;
}
/* HEADER */
header{
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
}

header .left-group{
    width: 33%;
}

header .title{
    margin-right: 5px;
}

header .time{
    width: 34%;
    text-align: center;
}
header .right-group{
    width: 33%;
    text-align: right;
}

/* SECTION--MENU */

.section--menu{
    
}

.section--menu .first-menu{
    justify-content: space-between; 
    align-items: center;
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    padding: 25px;
}

.section--menu .first-menu .title{
    font-size: 32px;
    font-weight: 600;
}

.section--menu .menu-group{
    display: flex;
}

.section--menu .menu-group li{
    margin-left: 25px;
}

.section--menu .menu-group i{
    font-size: 25px;
}

/* SECTION--CHAT */
.section--chat .chatlist{
    padding: 0 25px;
}
.section--chat li a{
    display: flex;
    text-decoration: none;
}

.section--chat .profile-image{
    border-radius: 30px;
    margin-right: 20px;
    width: 90px;
    height: 70px;
}

#제니2{
    background:url("../제니2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.section--chat .chat-profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section--chat .chat-name{
    font-weight: 600;
    font-size: 22px;
    color: rgba(0,0,0);
}

.section--chat .chat-text{
    margin-top: 8px;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.section--chat .chat-time{
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.section--chat .chat-check{
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    margin-left: 10px;
}



footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f9f9fa;
    padding: 20px 50px;
    box-sizing: border-box;
    border-top: 1px solid rgba(121, 121, 121, 0.3);
}

footer .app-list{
    display: flex;
    justify-content: space-between;
}

footer .app-list a{
    position: relative;
    color: #2e363e;
}

footer .app-list .read-chat{
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    position: absolute;
    left: 15px;
    bottom: 15px;
}